body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/Assets/background_kalkulator.jpg");
  margin: 0;
}

.calculator {
  background-color: #ffaa00;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.display {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4c8baf;
  color: #fff;
}

button.clear {
  background-color: #ff0000; 
}

button.function {
  background-color: #ff6600; 
}

button:hover {
  background-color: #4caf98;
}

button:active {
  background-color: #4c74af;
}